[submodule "cpp/libraries/ntcore"]
	path = cpp/libraries/ntcore
	url = https://github.com/wpilibsuite/ntcore.git
[submodule "cpp/libraries/cscore"]
	path = cpp/libraries/cscore
	url = http://github.com/wpilibsuite/cscore.git
[submodule "cpp/libraries/wpiutil"]
	path = cpp/libraries/wpiutil
	url = https://github.com/wpilibsuite/wpiutil.git
[submodule "cpp/libraries/navxmxp"]
	path = cpp/libraries/navxmxp
	url = https://github.com/PHIL-MQP/navxmxp.git
[submodule "cpp/libraries/linux_navx_driver"]
	path = cpp/libraries/linux_navx_driver
	url = https://github.com/PHIL-MQP/linux_navx_driver.git
