[submodule "cpp/libraries/ntcore"]
	path = cpp/libraries/ntcore
	url = https://github.com/wpilibsuite/ntcore.git
[submodule "cpp/libraries/cscore"]
	path = cpp/libraries/cscore
	url = http://github.com/wpilibsuite/cscore.git
[submodule "cpp/libraries/wpiutil"]
	path = cpp/libraries/wpiutil
	url = https://github.com/wpilibsuite/wpiutil.git
[submodule "cpp/libraries/navxmxp"]
	path = cpp/libraries/navxmxp
	url = git@github.com:kauailabs/navxmxp.git
