.settings
__pycache__
venv
rio_build
tk1_build
build
.DS_Store
.vs
RemoteSystemsTempFiles
.metadata
*.swp

# IDEA stuff
# User-specific stuff:
workspace.xml
tasks.xml
python.iml
modules.xml

# CMake
cmake-build-debug/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# Latex
*.log
*.aux
